body{
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
    background-color: black;
}
img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.box{
    float: left;
    background-color: rgba(43,41,42,0.9);
    border-radius: 15px;
    position: relative;
    margin-left: 35px;
    height: 86%;

}

@media only screen and (max-width: 576px) {
    .box {
      height: 100%;
    }
  }
.submit-button{
    color: aliceblue;
}